
body{
    background-color: green;
}
#iconSpin {
    transform: rotate(180deg);
}
.cartasStyle {
    height: 120px;
    line-height: 80px;
    font-weight: 20px;
   
}
.cardNumber{
    height: 120px;
    line-height: 120px
}
.iconosCartas{
    border:none;
    font-size: 48px;
}
#number{
    font-size: 48px;
}
.cartaSombra {
    box-shadow: 10px 5px 5px black;
}
.randomButton:active{
    border-bottom: 3px solid #999;
    top: 3px;
}
.randomButton:hover{
    background-color: grey;
}